body{
    background-color: rgb(83, 73, 73);
}

.container{
    width: 150vh;
    height: 70vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.itens{
    background-color: rgb(255, 174, 0);
    color: white;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(90, 80, 80);
    padding: 10px 50px;
    border-radius: 33px;
    font-size: 22px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover{
    background-color: rgb(133, 127, 120);
    color: white;
    cursor: pointer;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.itens2{
    padding: 20px;
    height: 360px;
    width: 300px;
    color: white;
    border: 1px solid;
    position: relative;
    left:1500px;
    top: -600px;
    border-radius: 25px;
}

.p2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.final{
    width: 550px;
    height: 300px;
}