*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.iconeoakley img{
    padding-left: 20px;
    margin-top:-9px;
    height: 100px;
    width: 100px;
}

.iconeoakley{
    height: 100px;
    width: 100px;
    
}

.checkoutlabel {
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#containertop{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

header{
    background-color:  rgb(255, 174, 0) ;
    height: 75px;
    color: black;
}


/* body */

body {
    background-color: rgb(83, 73, 73);
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-top: 30px;
}

#header1 {
    margin-left: 100px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header1 span {
    font-size: 11.5px;
}

.form1 {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

.form1 form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 20px 0;
}


.input-group {
    position: relative;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 3.5px;
    border: 1.5px solid #ccc;
    background-color: rgb(112, 112, 112);
    color: white;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: rgb(255, 174, 0);
    outline: none;
}

.input-group label {
    position: absolute;
    left: 15px;
    top: 25px;
    transform: translateY(-50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition: all 0.3s ease;
    pointer-events: none;
    background-color: transparent;
    padding: 0 5px;
    z-index: 1;
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~label {
    top: 0;
    font-size: 12px;
    color: rgb(255, 174, 0);
    background-color: rgb(83, 73, 73);
    z-index: 2;
}

.input-group input::placeholder {
    opacity: 0;
}

#telefone-info {
    margin-top: -15px;
    margin-bottom: 0px;
    font-size: 12px;
}


.container2 {
    width: 450px;
    background-color: rgb(37, 37, 37);
}

.itens2 {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
    margin-left: 50px;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
}
