* {
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}


header {
    background-color: rgb(255, 174, 0);
    height: 75px;
}

#containertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icones {
    background-color: rgb(255, 174, 0);
    width: 40px;
    height: 40px;
}

.icones img {
    width: 100%;
}

.iconeoakley img {
    width: 80px;
}


#container2 {
    display: flex;
    justify-content:space-between;
    
}

#quadrado {
    margin-left: 240px;
    margin-top: 40px;
    background-color: rgb(255, 174, 0);
    width: 400px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lupa {
    background-color: white;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#lupa img {
    width: 90%;
}

.textoreal {
    color: black;
    font-weight: bold;
    text-align: center;
}

.bot達o {
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bot達o:hover {
    background-color: rgb(187, 128, 0);
}


.bot達oconfirmar {
    margin-top: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bot達oconfirmar:hover {
    background-color: rgb(138, 138, 138);
}



#carrinho {
    color: #000000;
    width: 400px;
    height: 630px;
    background-color: rgb(255, 174, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px,;

}

.item-carrinho {
     display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;   background-color: rgb(255, 255, 255);

}

.controles button {
    margin: 0 5px;
    cursor: pointer;
}

#total {
    font-size: 20px;
    margin-top: 10px;
}
#meio{
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    justify-content: space-evenly;
}
