* {
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}


header {
    background-color: rgb(255, 174, 0);
    height: 75px;
}

#containertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icones {
    background-color: rgb(255, 174, 0);
    width: 40px;
    height: 40px;
}

.icones img {
    width: 100%;
}

.iconeoakley img {
    width: 80px;
}


#container2 {
    display: flex;
    justify-content:space-between;
    
}

#quadrado {
    margin-left: 240px;
    margin-top: 40px;
    background-color: rgb(255, 174, 0);
    width: 400px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lupa {
    background-color: white;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#lupa img {
    width: 90%;
}

.textoreal {
    color: black;
    font-weight: bold;
    text-align: center;
}

.botão {
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botão:hover {
    background-color: rgb(187, 128, 0);
}


.botãoconfirmar {
    margin-top: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1.5px;
    font-size: 18px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botãoconfirmar:hover {
    background-color: rgb(138, 138, 138);
}



#carrinho {
    color: #000000;
    width: 400px;
    height: 630px;
    background-color: rgb(255, 174, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px,;

}

#carrinho a {
    text-decoration: none;
}

.item-carrinho {
     display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;   background-color: rgb(255, 255, 255);

}

.controles button {
    margin: 0 5px;
    cursor: pointer;
}

#total {
    font-size: 20px;
    margin-top: 10px;
}
#meio{
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    justify-content: space-evenly;
}


@media (max-width: 900px) {

    #container2 {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    /* produto */
    #quadrado {
        margin-left: 0;
        width: 90%;
        max-width: 400px;
    }

    #lupa {
        width: 90%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    /* carrinho */
    #carrinho {
        width: 90%;
        max-width: 400px;
        height: auto;
        padding: 20px;
    }

    #meio {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .botão,
    .botãoconfirmar {
        width: 90%;
    }
}

@media (max-width: 480px) {
    header {
        height: auto;
        padding: 10px 0;
    }

    .iconeoakley img {
        width: 60px;
    }

    .icones {
        width: 30px;
        height: 30px;
    }

    #quadrado {
        height: auto;
        padding-bottom: 20px;
    }

    #lupa img {
        width: 85%;
    }
}
