* {
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}


header {
    background-color: rgb(255, 174, 0);
    height: 75px;
}

#containertop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icones {
    background-color: rgb(255, 174, 0);
    width: 40px;
    height: 40px;
}

.icones img {
    width: 100%;
}

.iconeoakley img {
    width: 80px;
    margin-top: -10px;
}


#container2 {
    display: flex;
    justify-content:space-between;
    
}

#quadrado {
    margin-left: 240px;
    margin-top: 40px;
    background-color: rgb(255, 174, 0);
    width: 400px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lupa {
    background-color: white;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#lupa img {
    width: 90%;
}

.textoreal {
    color: black;
    font-weight: bold;
    text-align: center;
}

.botão {
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botão:hover {
    background-color: rgb(187, 128, 0);
}


.botãoconfirmar {
    margin-top: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1.5px;
    font-size: 18px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botãoconfirmar:hover {
    background-color: rgb(138, 138, 138);
}



#carrinho {
    color: #000000;
    width: 400px;
    height: auto;
    background-color: rgb(255, 174, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px;
    margin-top: 10px;
    border-radius: 10px;

}

#carrinho a {
    text-decoration: none;
}

.item-carrinho {
     display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;   background-color: rgb(255, 255, 255);

}

.controles button {
    margin: 0 5px;
    cursor: pointer;
}

#total {
    font-size: 20px;
    margin-top: 10px;
}
#meio{
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    justify-content: space-evenly;
}


/* Tablet (900px e menor) */
@media (max-width: 900px) {
    #container2 {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }

    #quadrado {
        margin-left: 0;
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    #lupa {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    #carrinho {
        width: 100%;
        max-width: 400px;
        height: auto;
        padding: 20px;
    }

    #meio {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .botão,
    .botãoconfirmar {
        width: 330px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        height: auto;
        padding: 10px;
    }

    #containertop {
        padding: 8px;
    }

    .iconeoakley img {
        width: 50px;
    }

    .icones {
        width: 35px;
        height: 35px;
    }

    #quadrado {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 15px;
    }

    #lupa {
        width: 100%;
        height: 250px;
    }

    .textoreal {
        margin: 15px 0;
    }

    .botão {
        width: 80%;
        height: 45px;
        font-size: 14px;
    }

    #carrinho {
        width: 100%;
        margin: 0;
        padding: 15px;
        height: auto;
    }
}

@media (max-width: 480px) {
    header {
        height: auto;
        padding: 8px;
    }

    .iconeoakley img {
        width: 40px;
    }

    .icones {
        width: 28px;
        height: 28px;
    }

    #container2 {
        gap: 15px;
        padding: 10px;
    }

    #quadrado {
        padding: 10px;
        border-radius: 8px;
    }

    #lupa {
        height: 200px;
        width: 100%;
    }

    #lupa img {
        width: 85%;
    }

    .textoreal h1 {
        font-size: 18px;
    }

    .textoreal h2 {
        font-size: 16px;
    }

    .botão {
        width: 85%;
        height: 40px;
        font-size: 12px;
    }

    .botãoconfirmar {
        width: 350px;
        height: 40px;
        font-size: 14px;
    }

    #carrinho {
        padding: 10px;
    }

    #meio {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 320px) {
    #quadrado {
        min-width: 90vw;
    }

    .botão,
    .botãoconfirmar {
        width: 90%;
        font-size: 11px;
    }
}
